BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
BreakBeforeBraces: Attach
NamespaceIndentation: None
FixNamespaceComments: true
