#Admin_DataAnalysisWidget {
    background-color: white;
}

#group_top, #group_data {
    border: none;
}

QDateEdit {
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
}


#cmb_users, #cmb_series, #cmb_models, #cmb_devices,
#btn_data {
    color: #666666;
    font-size: 14px;
    padding: 1px 15px 1px 3px;
    height: 36px;
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 5px 5px 0px 0px;
}

#cmb_users::drop-down, #cmb_series::drop-down, #cmb_models::drop-down, #cmb_devices::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    border: none;
}

#cmb_users::down-arrow, #cmb_series::down-arrow, #cmb_models::down-arrow, #cmb_devices::down-arrow {
    border-image: url(:/images/down_arrow.png);
}
    
#cmb_users QAbstractItemView, 
#cmb_series QAbstractItemView, 
#cmb_models QAbstractItemView, 
#cmb_devices QAbstractItemView {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 0px 0px 5px 5px;
    font-size: 14px;
    outline: 0px;
}

#cmb_users QAbstractItemView::item, 
#cmb_series QAbstractItemView::item, 
#cmb_models QAbstractItemView::item, 
#cmb_devices QAbstractItemView::item {
    height: 36px;
    color: #666666;
    padding-left: 9px;
    background-color: #ffffff;
}

#cmb_users QAbstractItemView::item:hover, 
#cmb_series QAbstractItemView::item:hover, 
#cmb_models QAbstractItemView::item:hover, 
#cmb_devices QAbstractItemView::item:hover {
    background-color: #409CE1;
    color: #ffffff;
}

#cmb_users QAbstractItemView::item:selected, 
#cmb_series QAbstractItemView::item:selected, 
#cmb_models QAbstractItemView::item:selected, 
#cmb_devices QAbstractItemView::item:selected {
    background-color: #409CE1;
    color: #ffffff;
}

#role:on {
    padding-top: 3px;
    padding-left: 4px;
}

#role::down-arrow:on {
    top: 1px;
    left: 1px;
}


QDateEdit:focus {
    border-bottom: 1px solid #0078d7;
}


QDateEdit::drop-down{
    border: none;
}

QDateEdit::down-arrow {
    border: none;
    border-image: url(:/images/icon-oc-date.png);
}

QCalendarWidget {
    background-color: #FFFFFF;
    border: 1px solid #c3ab5b;
}

QCalendarWidget QAbstractItemView:enabled {
    color: #000000;
    background-color: #ffffff;
    selection-color: white;
    selection-background-color: #c3ab5b;
}

QCalendarWidget QSpinBox#qt_calendar_yearedit {
    background: #ffffff;
    height: 34px;
    width: 125px;
    selection-background-color: #c3ab5b;
}

QCalendarWidget QToolButton {
    background-color: #FFFFFF;
    height: 34px;
    width: 125px;
    color: #000000;
}

QCalendarWidget QToolButton:hover {
    border: 1px solid #c3ab5b;
}

QCalendarWidget QToolButton::menu-indicator#qt_calendar_monthbutton {
    subcontrol-position: right center;
    subcontrol-origin: padding;
}

QCalendarWidget QToolButton QMenu {
    background-color: #FFFFFF;
    width: 125px;
    border: 1px solid #c3ab5b;
}

QCalendarWidget QToolButton QMenu::item:selected {
    color: #FFFFFF;
    background: #c3ab5b;
}

#btn_search, #btn_export {
    background-color: transparent; 
    border-radius: 6px; 
    border: none;
    color: white;
    padding-left: 10px;
    font-size: 14px;
    margin-left: 4px;
    margin-right: 4px;
}

#btn_search, #Data_btn_select_all {
    color: black; 
    border: 2px solid #008CBA;
}

#btn_search:hover, #Data_btn_select_all:hover {
    background-color: #008CBA;
    color: white;
} 

#btn_export, #Data_btn_uncheck_all {
    color: black; 
    border: 2px solid #71c8a1;
}

#btn_export:hover, #Data_btn_uncheck_all:hover {
    background-color: #71c8a1;
    color: white;
} 

#DataGroupBackground {
    border-image: url(:/images/DataWidgetBackground.png);
}

#DataGroupBtn {
    border: none;
}

#DataGroup {
    border: none;
    background-color: transparent;
}

#Data_btn_verigy {
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 3px;
    border: 1px solid #0078d7;
    border-radius: 3px;
    background-color: #0078d7;
    color: white;
}

#Data_btn_verigy:hover {
    background-color: #005bb5;
}

#Data_btn_verigy:pressed {
    background-color: #003f7f;
}
